@import '@/assets/font/font.scss';

body,p,h1,h2,h3 {
  margin: 0;
}

div{
  box-sizing: border-box;
}

#app{
  height: 100vh;
  width: 100vw;
  padding: 0;

  .king_Primary_button, .king_minor_button{
    color: white;
    border: none;

  }

  .king_Primary_button{
    background-color: #fda502;
  }
  .king_minor_button{
    background-color: $primaryColor;
    border-radius: .1867rem;
  }
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
